<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Angular</title>
</head>
<body>

    <form  class="formulario" method="post">
        <h1>Inicio de sesion</h1><br>
        <div class="form-group">
            <label for="usuario">Usuario</label>
            <input type="text" id="usuario" name="usuario">
        </div><br>

        <div class="form-group">
            <label for="clave">Clave</label>
            <input type="password" id="clave" name="clave">
        </div><br>

            <button type="submit" class="ingreso" id="ingresar" (click)="ingresoLogin($event)">INGRESAR</button>
            <button type="submit" class="registro"  id="registrar" (click)="register()">REGISTRATE</button>
    </form>
<!-- En este mensaje llamamos al mensaje, usamos la clase para darle estilo y implementamos class.mostrar para que aplique el estilo-->
    <div class="mensaje" [class.mostrar]="mostrarMensaje">
      {{mensaje}}
    </div>

</body>
</html>
