body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(133, 133, 133);
    padding: 10px;
  }
  
  .menu .logo {
    margin-right: auto; /* Mueve el logo a la izquierda del menú */
  }
  
  .menu ul {
    display: flex;
    list-style: none;
  }
  
  .menu li {
    margin-right: 10px;
  }
  
  .menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  
  .menu a:hover {
    text-decoration: underline;
  }

  .perfil{
    opacity: 0;
    position: absolute;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    flex-direction: column;
    right: 0;
    transition: opacity 0.3s ease;
  }

  .SubMenu:hover > .perfil{
    opacity: 1;
    margin: 0;
  }

  .perfil img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: 5px;
  }

  .perfil p{
    font-size: 20px;
    color: white;
  }

  .perfil{
    display: block;
    margin: 0;
    padding: 8px 5px;
    border-bottom: 1px;
  }
  
  .empleados {
    position: relative;
    margin-bottom: 20px; /* Añade un espacio entre la sección de empleados y el contenido */
  }
  
  .empleados > .img1 {
    width: 100%;
    height: 400px; /* Ajusta la altura según sea necesario */
  }
  
  .buscar {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .buscar > .buscador {
    width: 300px; /* Reducción del ancho del buscador */
    height: 40px;
    border: 1px solid black;
    border-radius: 10px 0 0 10px;
    padding: 5px;
  }
  
  .busqueda {
    width: 80px;
    height: 53px; /* Alineado con la altura del buscador */
    border-radius: 0 10px 10px 0;
    background-color: rgb(38, 155, 222);
    color: white;
    border: none;
    cursor: pointer;
  }
  


  .contenido{
    margin: 0 50px;
  }
  .contenido > h3{
    text-align: center;
  }


 table{
    text-align: left;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
    border: 1px solid #333;
  }

  thead{
    background-color: green;
    color: white;
    margin: 5px;
    width: 100%;
  }


footer {
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 10px; 
  }