body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(28, 102, 136, 0.68);
    padding: 10px;
  }
  
  .menu .logo {
    margin-right: auto; /* Mueve el logo a la izquierda del menú */
  }
  
  .menu ul {
    display: flex;
    list-style: none;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  
  .menu a:hover {
    text-decoration: underline;
  }

 .usuario{
  margin: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
  }

  .perfil{
    opacity: 0;
    position: absolute;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    flex-direction: column;
    right: 0;
    transition: opacity 0.3s ease;
  }

  .SubMenu:hover > .perfil{
    opacity: 1;
    margin: 0;
  }

  .perfil img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: 5px;
  }

  .perfil p{
    font-size: 20px;
    color: white;
  }

  .perfil{
    display: block;
    margin: 0;
    padding: 8px 5px;
    border-bottom: 1px;
  }
  
  .empleados {
    position: relative;
    margin-bottom: 20px; /* Añade un espacio entre la sección de empleados y el contenido */
  }
  
  .empleados > .img1 {
    width: 100%;
    height: 400px; /* Ajusta la altura según sea necesario */
  }
  
  .buscar {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .buscar > .buscador {
    width: 300px; /* Reducción del ancho del buscador */
    height: 40px;
    border: 1px solid black;
    border-radius: 10px 0 0 10px;
    padding: 5px;
  }
  
  .busqueda {
    width: 80px;
    height: 53px; /* Alineado con la altura del buscador */
    border-radius: 0 10px 10px 0;
    background-color: rgb(38, 155, 222);
    color: white;
    border: none;
    cursor: pointer;
  }
  


  .contenido{
    margin: 0 50px;
  }
  .contenido > h3{
    text-align: left;
  }


  .contenido {
    margin: 20px;
  }
  
  .aplicar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin: 20px 0; /* Agrega margen superior e inferior */
  }
  
  .aplicar img {
    width: 45%; /* Reducción del ancho de la imagen */
  }
  
  .mini-contenedor {
    width: 45%; /* Reducción del ancho del mini-contenedor */
    box-sizing: border-box;
    padding: 10px;
  }
  
  .mini-contenedor h3, .mini-contenedor p {
    margin: 0;
  }
  
  .mini-contenedor .lista {
    list-style: none;
    padding: 0;
  }
  
  .mini-contenedor .campo {
    padding: 5px 0;
    margin-left: 0;
  }
  
  .empresas{
    margin: 10px;
  }

  .empresas h3,p{
    text-align: left;
  }

  .empresas .imagenes {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }


  .empresas .imgs {
    flex: 0 0 calc(16.666% - 10px); 
    margin: 5px; 
  }
  
  .empresas img {
    width: 100%;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
  }
  
  .empresas .titulo2 {
    margin-bottom: 10px; 
  }
  
  .empresas .explicar {
    margin-bottom: 20px;
  }
  
  
  footer {
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 10px; 
  }
  





