body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.menu{
  display: flex;
  max-width: 100%;
  margin: 20px;
  height: 20%;
  list-style: none;
  background-color: rgb(133, 133, 133);
    
}

.menu > .logo{
    justify-content: left;
    align-items: center;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.menu > ul, li{
    margin: 5px 10px 10px auto;
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
}

.menu > li{
    width: 125px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;
}

a {
    font-size: 15px;
    color: #0026ff;
    text-decoration: none;
    transition: all 0.45s;
  }


.contenedor{
    background-color: white;
    margin: auto;
}

.empleados > .img1{
    width: 100%;
    height: 800px;
}

.buscar{
    position: absolute;
    display: flex;
    top: 50%;
    left: 35%;
}

.buscar > .buscador{
    width: 500px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px 0 0 10px;
}

.busqueda{
    width: 80px;
    height: 45px;
    border-radius:  0 10px 10px 0;
    background-color: rgb(38, 155, 222);
    color: white;
    border: none;
    border-radius:  0 10px 10px 0;
    cursor: pointer;
}








