<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    

    
   

    <div class="contenedor">

     
      <nav class="menu">
        <img src="assets/img/logo.jpg" class="logo">
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Opciones de empleo</a></li>
          <li><a href="#">Contactenos</a></li>
          <li><a href="#">Quienes somos</a></li>
          <li><a href="#">Perfil</a></li>
          <li><a href="#">Cerrar sesion</a></li>
        </ul>
      </nav>

    <div class="trabajo">
      <div class="empleados">
        <img src="assets/img/trabajador.jpg" class="img1">
        <div class="buscar">
          <input type="text" class="buscador" placeholder="Buscar empleo" />
          <button type="button"  class="busqueda">BUSCAR</button>
        </div>
      </div>

      <div class="contenido">
          <h3>COMO BUSCAR</h3>
        <p>
          Bienvenido a buscar empleo 
          Nuestra página está dedicada a promover la búsqueda de empleo en la ciudad de Bogotá,
          Esto permite a cualquier persona ingresar al mundo laboral y desarrollar sus habilidades en su campo.
          Para postular a cualquier empleo en el sistema, debe estar registrado si aún no lo está.
      </p>

        <div class="aplicar">
          <img src="assets/img/comprender.png">
          <H3>Cosas a tener en cuenta</H3><br>
          <p>usted como empleado cuando seleccione alguna oferta tiene que tener en cuenta los siguente puntos</p><br>
          <span>1. Observar el instructivo de la empresa para aplicar</span><br>
          <span>2. Que trabajo va realizar en la empresa</span><br>
          <span>3. La ubicacion de la empresa</span><br>
          <span>4. El minimo de estudios requerido</span><br>
          <span>5. El salario que ofrece la empresa por el trabajo</span><br>
        </div>

      <div class="empresas">
        <H3>EMPRESAS</H3>
        <p>Este apartado puede buscar si en alguna de estas empresas hay puestos disponibles</p>

        <div class="imagenes">
          <li class="imgs"><img src="assets/img/amazon.png"></li>
          <li class="imgs"><img src="assets/img/apple.png"></li>
          <li class="imgs"><img src="assets/img/autos.jpg"></li>
          <li class="imgs"><img src="assets/img/bancolombia.png"></li>
          <li class="imgs"><img src="assets/img/buñelos.png"></li>
          <li class="imgs"><img src="assets/img/compensar.png"></li>
          <li class="imgs"><img src="assets/img/falabella.png"></li>
          <li class="imgs"><img src="assets/img/lider.png"></li>
          <li class="imgs"><img src="assets/img/seguridad.png"></li>
          <li class="imgs"><img src="assets/img/teleperformance.png"></li>
          <li class="imgs"><img src="assets/img/veterinaria.png"></li>
          <li class="imgs"><img src="assets/img/registraduria.jpg"></li>
        </div>
      </div>
  
       

        
        </div>
    </div>
    
  </div>

  <footer>
    Autor: Daniel mateo suarez-copyrigt de imagenes de google
  </footer>
  </body>
</html>
