<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>

     <div class="cabeza">
        <img src="/assets/img/logo.jpg" class="logo">
        <nav class="menu">
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Trenes</a></li>
            <li><a href="#">Reservas</a></li>
            <li><a href="#">Quienes somos</a></li>
          </ul>
        </nav>

        <div class="buscar">
          <input type="text" class="buscador" placeholder="Buscar" />
          <button type="button"  class="busqueda"><img src="assets/img/lupa.png" class="lupa"></button>
        </div>
        
      </div>

    <div class="empresa">
      <div class="tren">
        <img src="/assets/img/tren.jpg" class="trencito" alt="">
        <h2 class="titulo">METRO ELECTRICO HIBRIDOS DE BOGOTA</h2>
      </div>

      <div class="contenido">
        <div class="trenes">
          <h3>TRENES</h3>
        <p>nuestros trenes son hibridos pueden trabajar con  batarias electricas 
          y con combustibles fociles como compromiso a la trasicion de energias mas 
        renovables y la utilizacion del combustibles para no perder eficiencia en el transporte
        por causas externas e internas.
      </p>
      <img src="/assets/img/hibrido.jpg" class="img1">
        </div>

        <div class="interior">

      <h3>INTERIOR</h3>
      <p>El interior de nuestro transporte es confertable, muestra la calidad de nuestro transporte
        y esto muestra que esta diseñado asi para mostrar la calidad de nuestro transporte.
      </p>
      <img src="/assets/img/interior.jpg" class="img2" alt="">
        </div>

        <div class="rutas">
          <h3>RUTAS DE BOGOTA</h3>
        <p>
          La empresa de transporte de terenes de bogota tiene el proposito de
          bridar un servicio de calidad, eficiente en su traslado hacia el
          destino que usted desee.
        </p>
        <h3>Mapa</h3>
        <img src="/assets/img/mapa.jpg" class="mapa">
        </div>
        <footer>Autor: Daniel mateo suarez </footer>
      </div>
    </div>
    
  </body>
</html>
