<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrar</title>
  </head>
  <body>
    <form class="formulario" method="post" (submit)="registrar($event)">
        <h1>Registro de usuario</h1><br>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" />
      </div><br>
      <div class="form-group">
        <label for="correo">Correo</label>
        <input type="email" id="correo" />
      </div><br>
      <div class="form-group">
        <label for="contraseña">Contraseña</label>
        <input type="password" id="contraseña" />
      </div><br>
      <button type="submit">Registrar</button>
    </form>

    <div class="mensaje">
      {{mensaje}}
    </div>
  </body>
</html>
